<div class="header header--transparent">
    <div class="header__inner">
        <div class="header__topline">
            <div class="header__logo"><a href="#">Автономика</a></div>
            <div class="header__phone header__phone--1"><a href="tel:89082868688">8 908 286-86-88</a><span>(г.Гагарин)</span></div>
            <div class="header__phone header__phone--2"><a href="tel:89517113300">8 951 711-33-00</a><span>(г.Смоленск)</span></div>
            <div class="header__email"><a href="mailto:remont@webasto67.ru">remont@webasto67.ru</a></div>
            <div class="header__callback"><a href="#">Обратный звонок</a></div>
            <div class="header__menu">
                //= ./menu.html
            </div>
        </div>
    </div>
</div>