<div class="b-product-gallery">
    <div class="product__nav">
        <div class="product__nav-item js-gallery-nav-item" data-slide="0">
            <picture>
                <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                <img src="./img/catalog-pic-big.jpg" alt="">
            </picture>
        </div>
        <div class="product__nav-item js-gallery-nav-item" data-slide="1">
            <picture>
                <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                <img src="./img/catalog-pic-big.jpg" alt="">
            </picture>
        </div>
        <div class="product__nav-item js-gallery-nav-item" data-slide="2">
            <picture>
                <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                <img src="./img/catalog-pic-big.jpg" alt="">
            </picture>
        </div>
        <div class="product__nav-video js-gallery-nav-item" data-slide="3">
            <img src="./img/empty-100.png" alt="">
        </div>
    </div>
    <div class="product-gallery__main">
        <div class="swiper-container swiper-container--gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-big.jpg" alt="">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-big.jpg" alt="">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/catalog-pic-big.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-big.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-big.jpg" alt="">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <div class="product-gallery__main-video">
                         <a class="js-video" href="https://www.youtube.com/watch?v=YaKZ7VVznF8">
                            <img src="https://img.youtube.com/vi/YaKZ7VVznF8/maxresdefault.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
