<div class="catalog__item">
    <div class="catalog__inner">
        <div class="catalog__pic">
            <a href="#">
                <picture>
                    <source srcset="./img/catalog-pic.webp" type="image/webp">
                    <source srcset="./img/catalog-pic.jpg" type="image/jpeg">
                    <img src="./img/catalog-pic.jpg" alt="">
                </picture>
            </a>
        </div>
        <div class="catalog__content">
            <div class="catalog__reviews">
                <a href="#">
                    <img src="./img/star-gold.svg" alt="">
                    <strong>4,5</strong>
                    <span>77 отзывов</span>
                </a>
            </div>
            <div class="catalog__title">
                <a href="#">Цифровой тахограф VDO DTCO 3283 с блоком СКЗИ</a>
            </div>
            <div class="catalog__price">44 000 ₽</div>
            <div class="catalog__btn">
                <a href="#" class="b-button b-button--mw150">Купить</a>
            </div>
        </div>
    </div>
</div>
<div class="catalog__item">
    <div class="catalog__inner">
        <div class="catalog__pic">
            <a href="#">
                <picture>
                    <source srcset="./img/catalog-pic-2.webp" type="image/webp">
                    <source srcset="./img/catalog-pic-2.jpg" type="image/jpeg">
                    <img src="./img/catalog-pic-2.jpg" alt="">
                </picture>
            </a>
        </div>
        <div class="catalog__content">
            <div class="catalog__reviews">
                <a href="#">
                    <img src="./img/star-gold.svg" alt="">
                    <strong>4,5</strong>
                    <span>77 отзывов</span>
                </a>
            </div>
            <div class="catalog__title">
                <a href="#">Цифровой тахограф VDO DTCO 3283 с блоком СКЗИ</a>
            </div>
            <div class="catalog__price">44 000 ₽</div>
            <div class="catalog__btn">
                <a href="#" class="b-button b-button--mw150">Купить</a>
            </div>
        </div>
    </div>
</div>