<div class="catalog__item">
    <div class="catalog__inner">
        <div class="catalog__pic hide-on-mobile">
            <a href="#">
                <picture>
                    <source srcset="./img/catalog-pic.webp" type="image/webp">
                    <source srcset="./img/catalog-pic.jpg" type="image/jpeg">
                    <img src="./img/catalog-pic.jpg" alt="">
                </picture>
            </a>
        </div>
        <div class="catalog__wrap">
            <div class="catalog__content">
                <div class="catalog__reviews">
                    <a href="#">
                        <img src="./img/star-gold.svg" alt="">
                        <strong>4,5</strong>
                        <span>77 отзывов</span>
                    </a>
                </div>
                <div class="catalog__title">
                    <a href="#">Цифровой тахограф VDO DTCO 3283 с блоком СКЗИ</a>
                </div>
                <div class="catalog__details">
                    <div><span>Код товара:</span> 1463554</div>
                    <div><span>Блок СКЗИ:</span> да</div>
                    <div><span>Размер:</span> 178 x 50 x 150 мм (Ш x В x Г)</div>
                    <div><span>Вес:</span> 1350г</div>
                    <div><span>Рабочее напряжение:</span> 24 В (12 В)</div>
                </div>
                <div class="catalog__logo"><a href="#"><img src="./img/catalog-logo.png" alt=""></a></div>
            </div>
            <div class="catalog__pic hide-on-tablet hide-on-desktop">
                <a href="#">
                    <picture>
                        <source srcset="./img/catalog-pic.webp" type="image/webp">
                        <source srcset="./img/catalog-pic.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic.jpg" alt="">
                    </picture>
                </a>
            </div>
            <div class="catalog__controls">
                <div class="catalog__oldprice"><span>Цена:</span> 46 000 ₽</div>
                <div class="catalog__price"><span>Новая цена:</span> 44 000 ₽</div>
                <div class="catalog__footer">
                    <div class="catalog__count">
                        <div class="b-count b-count--small">
                            <span class="count__minus js-count-input-minus"></span>
                            <div class="count__content">
                                <input class="js-count-input" type="text" value="1" maxlength="3" pattern="[0-9]{1,5}" onkeyup="this.value = this.value.replace(/[^\d]/g,'');">
                            </div>
                            <span class="count__plus js-count-input-plus"></span>
                        </div>
                    </div>
                    <div class="catalog__btn">
                        <a href="#" class="b-button b-button--mw150">Купить</a>
                    </div>
                </div>
                <div class="catalog__available atalog__available--ok">в наличии > 10 шт</div>
            </div>
        </div>
    </div>
</div>