<div class="catalog catalog--gallery">
    <div class="catalog__items">
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
        //= ./catalog-item-gallery.html
    </div>
</div>
<div class="load-more">
    <a class="b-button b-button--gray" href="#">Показать ещё</a>
</div>