<div class="b-tabs-acc js-tabacc">
    <div class="tabs-acc__nav">
        <div class="tabs-acc__nav-item active js-tabacc-title" data-tabid="desc">
            <span class="tabs-acc__nav-icon">
                <img src="./img/tab-icon-1.svg" alt="">
                <img src="./img/tab-icon-1-a.svg" alt="">
            </span>
            Описание
        </div>
        <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="specs">
            <span class="tabs-acc__nav-icon">
                <img src="./img/tab-icon-2.svg" alt="">
                <img src="./img/tab-icon-2-a.svg" alt="">
            </span>
            Характеристики
        </div>
        <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="review">
            <span class="tabs-acc__nav-icon">
                <img src="./img/tab-icon-3.svg" alt="">
                <img src="./img/tab-icon-3-a.svg" alt="">
            </span>
            Отзывы
        </div>
    </div>
    <div class="tabs-acc__items">
        <div class="tabs-acc__item">
            <div class="tabs-acc__title active js-tabacc-title" data-tabid="desc"><span>Описание</span>
            </div>
            <div class="tabs-acc__content active show js-tabacc-content" data-tabcontent="desc">
                <div class="tabs-acc__content-inner">
                    <h2>Описание</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, debitis velit eius aliquam tempora quasi similique hic exercitationem nihil aliquid mollitia repudiandae veniam impedit pariatur iusto, et alias adipisci nesciunt minima. Dolore corrupti ab neque magni similique, eveniet impedit repellat illum ratione optio, esse sequi, enim temporibus in expedita ipsa.</p>
                    <p>Exercitationem amet odio libero veniam non, fugiat nisi voluptatum. Aperiam, consequatur, accusamus esse, beatae unde culpa at ad voluptatem nobis dolorem sequi quidem officia id eos voluptates iure? Magnam, deleniti quis ipsum dolor cumque id inventore vero nam incidunt eius asperiores culpa aspernatur tempora placeat voluptates veniam quae sit cum.</p>
                    <ul class="ul">
                        <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, sit rerum id consectetur exercitationem delectus quia dolores ipsa quibusdam architecto.</li>
                        <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tabs-acc__item">
            <div class="tabs-acc__title js-tabacc-title" data-tabid="specs"><span>Характеристики</span>
            </div>
            <div class="tabs-acc__content js-tabacc-content" data-tabcontent="specs">
                <div class="tabs-acc__content-inner">
                    <h2>Характеристики</h2>
                    <ul class="b-specs">
                        <li>
                            <span>Соответствие «Приказ Минтранс №36» (работает с СКЗИ, внесен в реестр тахографов ФБУ Росавтотранс)</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Разрешен к установке на ТС, предназначенные для перевозки опасных грузов</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Напряжение питания, В</span>
                            <ins>8..36</ins>
                        </li>
                        <li>
                            <span>Соответствие «Приказ Минтранс №36» (работает с СКЗИ, внесен в реестр тахографов ФБУ Росавтотранс)</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Разрешен к установке на ТС, предназначенные для перевозки опасных грузов</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Напряжение питания, В</span>
                            <ins>8..36</ins>
                        </li>
                        <li>
                            <span>Соответствие «Приказ Минтранс №36» (работает с СКЗИ, внесен в реестр тахографов ФБУ Росавтотранс)</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Разрешен к установке на ТС, предназначенные для перевозки опасных грузов</span>
                            <ins>да</ins>
                        </li>
                        <li>
                            <span>Напряжение питания, В</span>
                            <ins>8..36</ins>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tabs-acc__item">
            <div class="tabs-acc__title js-tabacc-title" data-tabid="review"><span>Отзывы</span>
            </div>
            <div class="tabs-acc__content js-tabacc-content" data-tabcontent="review">
                //= ./reviews.html
            </div>
        </div>
    </div>
</div>