<div class="b-menu js-menu">
    <ul class="menu__level-1">
        <li class="menu__item-1 menu__item-1--haschild">
            <span class="js-sidebar-show">
                <ins></ins>
                <span>Каталог</span>
            </span>
            <div class="menu__level-wrap js-menutop-wrap">
                <ul class="menu__level-2 js-menutop-parent">
                    <li class="menu__item-2">
                        <span><a href="#">Все товары</a> <ins></ins></span>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Отопители</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Тахографы</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2">
                        <span><a href="#">Карты водителя</a> <ins></ins></span>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Кондиционеры</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item-1"><a href="#">Отопители</a></li>
        <li class="menu__item-1"><a href="#">Тахографы</a></li>
        <li class="menu__item-1"><a href="#">Карты водителя</a></li>
        <li class="menu__item-1"><a href="#">Кондиционеры</a></li>
        <li class="menu__item-1"><a href="#">Услуги</a></li>
        <li class="menu__item-1"><a href="#">Информация</a></li>
        <li class="menu__item-1"><a href="#">Контакты</a></li>
    </ul>
</div>

