<div class="modal-bg js-modal-cart-bg js-modal-hide-cart"></div>
<div class="modal modal--cart js-modal-cart">
    <div class="modal__inner">
        <div class="modal__close js-modal-hide-cart"></div>
        <div class="modal__content">
            <div class="modal__title h2">Товар добавлен в корзину</div>
            <div class="modal-cart">
                <picture class="modal-cart__pic">
                    <source srcset="./img/catalog-pic.webp" type="image/webp">
                    <source srcset="./img/catalog-pic.jpg" type="image/jpeg">
                    <img src="./img/catalog-pic.jpg" alt="">
                </picture>
                <div class="modal-cart__details">
                    <div><span>Товар:</span> Цифровой тахограф VDO DTCO 3283 с блоком СКЗИ</div>
                    <div><span>Цена:</span> 44 000 ₽</div>
                    <div><span>Количество:</span> 1шт.</div>
                </div>
                <div class="modal-cart__footer">
                    <a href="#" class="b-button b-button--icon b-button--mw250 js-modal-hide-cart"><img src="./img/arrow-left.svg" alt=""> <span>Продолжить покупки</span></a>
                    <a href="#" class="b-button b-button--mw250">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</div>