<div class="reviews">
    <h2>Отзывы покупателей</h2>
    <div class="reviews__cols">
        <div class="reviews__left">
            <div class="reviews__photos">
                <div class="reviews__photos-title">Фотографии покупателей</div>
                <div class="reviews__photos-items">
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                </div>
            </div>
            <!--  -->
            <div class="reviews__chat">
                <div class="reviews__chat-item">
                    <div class="reviews__chat-ava"><span>Т</span></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Татьяна И</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                            <div class="reviews__chat-stars">
                                <div class="stars">
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Достоинства</strong>
                            <p>Заказывали на день рождение сюрпризом с речью- открыткой. Курьер с порога произнёс поздравление. Именинница была очарована. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Недостатки</strong>
                            <p>Время не то. Но лично руководитель звонил, извинялся, согласовывал время и отслеживать доставку. Приятно. Спасибо! </p>
                        </div>
                        <div class="reviews__photos">
                            <div class="reviews__photos-items">
                                <a data-fslightbox href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                                <a data-fslightbox href="./img/review-pic.jpg"><img src="./img/review-pic.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="reviews__chat-helpful">
                            <strong>Вам помог этот отзыв?</strong>
                            <span class="b-button b-button--xsmall b-button--gray">Да <ins>0</ins></span>
                            <span class="b-button b-button--xsmall b-button--gray">Нет <ins>0</ins></span>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-answer">
                    <div class="reviews__chat-ava"><img src="./img/review-answer.svg" alt=""></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Флоренция</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                        </div>
                        <div class="reviews__chat-block">
                            <p>Добрый день, Татьяна!. Очень сожалеем, что Вам пришлось столкнуться с такими негативными эмоциями. В каждом сервисе происходят ошибки, ещё раз примите извинения, такие недоразумения будут исключены.</p>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-item">
                    <div class="reviews__chat-ava"></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Татьяна И</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                            <div class="reviews__chat-stars">
                                <div class="stars">
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--half"></div>
                                    <div class="stars__star stars__star--empty"></div>
                                    <div class="stars__star stars__star--empty"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Достоинства</strong>
                            <p>Заказывали на день рождение сюрпризом с речью- открыткой. Курьер с порога произнёс поздравление. Именинница была очарована. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Недостатки</strong>
                            <p>Время не то. Но лично руководитель звонил, извинялся, согласовывал время и отслеживать доставку. Приятно. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-helpful">
                            <strong>Вам помог этот отзыв?</strong>
                            <span class="b-button b-button--xsmall b-button--gray">Да <ins>0</ins></span>
                            <span class="b-button b-button--xsmall b-button--gray">Нет <ins>0</ins></span>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-btn"><a href="#" class="b-button b-button--gray">Показать больше отзывов</a></div>
            </div>
        </div>
        <div class="reviews__right">
            <div class="reviews__rating">
                <div class="reviews__rating-count">4.9</div>
                <div class="reviews__rating-content">
                    <span>На основании 82 отзывов</span>
                    <div class="stars">
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                    </div>
                </div>
            </div>
            <div class="reviews__bars">
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">5 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 93%;"></span></div>
                    <div class="reviews__bars-count">45</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">4 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 13%;"></span></div>
                    <div class="reviews__bars-count">5</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">3 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 10%;"></span></div>
                    <div class="reviews__bars-count">4</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">2 звезд</div>
                    <div class="reviews__bars-bar"><span></span></div>
                    <div class="reviews__bars-count">0</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">1 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 3%;"></span></div>
                    <div class="reviews__bars-count">1</div>
                </div>
            </div>
            <div class="reviews__btn">
                <a href="#" class="b-button b-button--big js-modal-show-review">Написать отзыв</a>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="modal-bg js-modal-review-bg js-modal-hide-review"></div>
<div class="modal modal--reviews js-modal-review">
    <div class="modal__inner">
        <div class="modal__close js-modal-hide-review"></div>
        <div class="modal__content">
            <div class="modal__title h2">Новый отзыв к товару</div>
            <div class="b-form b-form--popup b-form--review">
                <form>
                    <div class="form__item">
                        <div class="form__inputs">
                            <div class="form__input">
                                <div class="form__input-title">Ваша оценка</div>
                                <div class="b-rating">
                                    <fieldset class="rating rating--big">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label class="full" for="star5" title=""></label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label class="full" for="star4" title=""></label>
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label class="full" for="star3" title=""></label>
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label class="full" for="star2" title=""></label>
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label class="full" for="star1" title=""></label>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form__input form__input--x2">
                                <div class="b-input">
                                    <textarea name="" id="form-textarea-review-1" placeholder=" " required></textarea>
                                    <label for="form-textarea-review-1">Достоинства</label>
                                </div>
                            </div>
                            <div class="form__input form__input--x2">
                                <div class="b-input">
                                    <textarea name="" id="form-textarea-review-2" placeholder=" " required></textarea>
                                    <label for="form-textarea-review-2">Недостатки</label>
                                </div>
                            </div>
                            <div class="form__input form__input--x2">
                                <div class="b-input">
                                    <textarea name="" id="form-textarea-review-3" placeholder=" " required></textarea>
                                    <label for="form-textarea-review-3">Комментарий</label>
                                </div>
                            </div>
                            <div class="form__input">
                                <div class="form__photos">
                                    <div class="form__photos-title">Загрузите фотографии</div>
                                    <div class="form__fileupload">
                                        <label class="form__fileupload-remove js-file-remove"></label>
                                        <input id="fileupload" type='file' onchange="readURL(this);" />
                                        <label class="form__fileupload-load js-file-load" for="fileupload"></label>
                                        <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                                    </div>
                                    <div class="form__fileupload">
                                        <label class="form__fileupload-remove js-file-remove"></label>
                                        <input id="fileupload-2" type='file' onchange="readURL(this);" />
                                        <label class="form__fileupload-load js-file-load" for="fileupload-2"></label>
                                        <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                                    </div>
                                    <div class="form__fileupload">
                                        <label class="form__fileupload-remove js-file-remove"></label>
                                        <input id="fileupload-3" type='file' onchange="readURL(this);" />
                                        <label class="form__fileupload-load js-file-load" for="fileupload-3"></label>
                                        <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                                    </div>
                                    <div class="form__fileupload">
                                        <label class="form__fileupload-remove js-file-remove"></label>
                                        <input id="fileupload-4" type='file' onchange="readURL(this);" />
                                        <label class="form__fileupload-load js-file-load" for="fileupload-4"></label>
                                        <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                                    </div>
                                    <div class="form__fileupload">
                                        <label class="form__fileupload-remove js-file-remove"></label>
                                        <input id="fileupload-5" type='file' onchange="readURL(this);" />
                                        <label class="form__fileupload-load js-file-load" for="fileupload-5"></label>
                                        <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                                    </div>
                                    <div class="form__photos-hint">Размер фото до 10 МБ. Поддерживаемые форматы: JPG, GIF, JPEG, PNG, BMP</div>
                                </div>
                            </div>
                            <div class="form__input">
                                <button class="b-button b-button--big">Отправить</button>
                            </div>
                        </div>
                        <div class="form__agree"> Нажатием кнопки я принимаю условия <a href="#">Оферты</a> по использованию сайта и согласен с <a href="#">Политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>