<nav class="sidebar__menu">
    <ul class="sidebar__menu-level-1 js-menu-main">
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Каталог</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Каталог</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__headersidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2 js-menu-item-2">
                    <span><a href="#">3 level</a><ins></ins></span>
                    <ul class="sidebar__menu-level-3 js-menu-next-2">
                        <li class="sidebar__menu-item-spacer"><span><a href="#">3 level</a></span></li>
                        <li class="sidebar__menu-item-3 active"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                    </ul>
                </li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2 js-menu-item-2">
                    <span><a href="#">3 level</a><ins></ins></span>
                    <ul class="sidebar__menu-level-3 js-menu-next-2">
                        <li class="sidebar__menu-item-spacer"><span><a href="#">3 level</a></span></li>
                        <li class="sidebar__menu-item-3 active"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                    </ul>
                </li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 active js-menu-item">
            <span><a href="#">Услуги</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Услуги</a></span></li>
                <li class="sidebar__menu-item-2 active"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2 js-menu-item-2">
                    <span><a href="#">3 level</a><ins></ins></span>
                    <ul class="sidebar__menu-level-3 js-menu-next-2">
                        <li class="sidebar__menu-item-spacer"><span><a href="#">3 level</a></span></li>
                        <li class="sidebar__menu-item-3 active"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                        <li class="sidebar__menu-item-3"><span><a href="#">Lorem, ipsum.</a></span></li>
                    </ul>
                </li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Информация</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Информация</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Покупателям</a></span>
        </li>
    </ul>
</nav>