*,
*::before,
*::after {
    box-sizing: border-box;
}
::selection {
    background: $color-blue;
    color: $color-white;
}
::-moz-selection {
    background: $color-blue;
    color: $color-white;
}
html * {
    max-height: 999999px;
}
html,
body {
    height: 100%;
    position: relative;
}
html {
    font-size: 10px;
}
body {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.7rem;
    color: $color-font;
    -webkit-backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
}
sup {
    vertical-align: super;
    line-height: 0;
}
h1,
.h1 {
    margin-bottom: 0.75em;
    font-family: $font-family-robotoslab;
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.6rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 3.4rem;
    }
}
h2,
.h2 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.2rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 3.4rem;
    }
}
h3,
.h3 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: bold;
    font-size: 1.8rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 1.8rem;
    }
}
h4,
.h4 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: bold;
    font-size: 1.6rem;
    color: $color-font;
}
a {
    color: $color-blue;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: $color-font;
}
.ov-h {
    overflow: hidden !important;
}
/*----------*/
/*----------*/
.b-button,
a.b-button,
button.b-button {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    display: block;
    background: $color-blue;
    opacity: 1;
    border: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: $color-white;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
        background-color: $color-blue-h;
    }
    &--big {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &--small {
        padding: 1.1rem;
        font-size: 1.5rem;
        width: 30rem;
        max-width: 100%;
    }
    &--xsmall {
        padding: 0.8rem 1.5rem;
        font-family: $font-family;
        text-transform: none;
        font-size: 1.4rem;
        letter-spacing: 0;

        ins {
            text-decoration: none;
        }
    }
    &--white-border {
        border: 2px solid $color-white;
        background-color: transparent;
    }
    &--gray {
        background: $color-lightgray2;
        text-transform: none;
        font-weight: 700;
        color: $color-font;

        &:hover {
            background: $color-lightgray;
        }
    }
    &--mw150 {
        max-width: 15rem;
    }
    &--mw250 {
        max-width: 25rem;
    }
    &--mw460 {
        margin: auto;
        max-width: 46rem;
    }
    &--center {
        margin: auto;
        max-width: 25rem;
    }
}
/*----------*/
@media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
    .hide-on-mobile {
        display: none !important;
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
    .hide-on-tablet {
        display: none !important;
    }
}
@media (min-width: $breakpoint-desktop) {
    .hide-on-desktop {
        display: none !important;
    }
}
