$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Roboto', sans-serif;
$font-family-slab: 'Roboto Slab', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #000; 
$color-font-gray: #99a3a6;
$color-black: #000000; 
$color-green: #2fa84f; 
$color-lightgreen: rgba(47, 168, 79, 0.1); 
$color-white: #ffffff; 
$color-gray: #e5e5e5;
$color-gray2: #c6cacc;
$color-gray3: #f8f9fb;
$color-lightgray: #f7f9fa;
$color-red: #ea3d2f;
$color-blue: #0bc4fa;
