$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Open Sans', sans-serif;
$font-family-robotoslab: 'Roboto Slab', sans-serif;

$color-font: #011920;
$color-font-gray: #99a3a6;
$color-black: #000000;
$color-lightgreen: rgba(47, 168, 79, 0.1);
$color-white: #ffffff;
$color-gray: #e5e5e5;
$color-gray2: #c6cacc;
$color-gray3: #f8f9fb;
$color-lightgray: #d9e0eb;
$color-lightgray2: #f2f5f8;
$color-lightgray3: #c0cbde;
$color-lightgray3-p60: rgba(192, 203, 222, 0.6);
$color-lightgray3-p10: rgba(192, 203, 222, 0.2);
$color-red: #fa410b;
$color-green: #61a726;
$color-blue: #0bc4fa;
$color-blue-h: #05aee0;
$color-blue-dark-50p: rgba(5, 0, 59, 0.5);
$color-gold: #f79529;
