.b-product {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    margin-bottom: 5rem;

    .product__gallery,
    .product__content-details,
    .product__content-actions {
        width: 100%;
    }
    .product__gallery {
        width: 100%;
        order: 1;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop-extra) {
            order: 1;
            width: 40%;
        }
    }
    .product__content-details {
        width: 100%;
        order: 3;

        @media (min-width: $breakpoint-tablet) {
        }
        @media (min-width: $breakpoint-desktop) {
            width: 100%;
        }
        @media (min-width: $breakpoint-desktop-extra) {
            padding-left: 8rem;
            order: 2;
            width: 30%;
        }

        .b-select {
            width: auto;
            @media (min-width: $breakpoint-tablet) {
                width: 50%;
            }
            @media (min-width: $breakpoint-desktop-extra) {
                width: auto;
            }
        }
    }
    .product__content-actions {
        margin-bottom: 3rem;
        align-self: flex-start;
        width: 100%;
        order: 2;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 0;
            padding-left: 4rem;
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            padding-left: 8rem;
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop-extra) {
            order: 3;
            width: 30%;
        }

        .product__content-inner {
            padding: 2.5rem 3rem;
            background-color: $color-lightgray3-p10;
        }
    }
    .product__stars {
        padding-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        a {
            line-height: 1;
            margin-left: 1rem;
            color: $color-font;
            border-bottom: 1px solid $color-font;
            transition-property: color, border-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &:hover {
                border-bottom-color: transparent;
                color: $color-green;
            }
        }
    }
    .product__details {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;

        @media (min-width: $breakpoint-desktop-extra) {
            margin-left: 0;
            margin-right: 0;
            display: block;
        }

        div {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            display: flex;
            flex-flow: row wrap;
            font-size: 1.4rem;

            @media (min-width: $breakpoint-desktop-extra) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        span {
            padding-right: 0.5rem;
            color: $color-font-gray;
        }
        a {
            margin-left: 1rem;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 700;

            @media (min-width: $breakpoint-desktop-extra) {
                margin-left: 0;
            }
        }
    }
    .product__desc {
        padding-bottom: 3rem;
        color: $color-font-gray;

        h1,
        .h1 {
            margin-bottom: 2rem;
        }
    }
    .product__params {
        padding-bottom: 1.5rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        display: flex;
        flex-flow: row wrap;

        .product__param {
            padding-bottom: 1.4rem;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            font-size: 1.3rem;

            span {
                padding: 0.8rem 5rem 0.8rem 1.5rem;
                display: block;
                border-radius: 0.5rem;
                position: relative;
                font-size: 1.4rem;
                line-height: 1.2;
                background-color: $color-lightgray2;

                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1.5rem;
                }
            }
        }
    }
    .product__options {
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 2rem;
    }
    .product__option {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        padding-bottom: 3rem;

        &:last-child {
            padding-bottom: 0;
        }

        @media (min-width: $breakpoint-tablet) {
            padding-bottom: 0;
            width: 50%;
        }
    }
    .product__oldprice {
        display: inline-block;
        line-height: 1;
        font-size: 1.9rem;
        color: $color-font-gray;
        position: relative;

        span {
            display: block;
            font-size: 1.4rem;
            font-weight: normal;
            color: $color-font-gray;
        }
        ins {
            display: inline-block;
            position: relative;
            text-decoration: none;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: calc(1.9rem / 2);
                border-top: 1px solid $color-red;
            }
        }
    }
    .product__price {
        line-height: 1.4;
        font-weight: 700;
        font-size: 2.4rem;

        @media (min-width: $breakpoint-desktop) {
            font-size: 3rem;
        }

        line-height: 1;
        padding-bottom: 1.5rem;

        span {
            display: block;
            font-size: 1.4rem;
            font-weight: normal;
            color: $color-font-gray;
        }
    }
    .product__available {
        margin-bottom: 1.5rem;
        position: relative;
        padding-left: 1.5rem;
        font-size: 1.4rem;

        &::before {
            content: '';
            margin-top: -0.5rem;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            background-color: $color-green;
        }
    }
    .product__devliv {
        padding-top: 2rem;
        border-top: 1px solid $color-lightgray3-p60;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        a {
            border-left: 1px solid $color-lightgray3-p60;

            &:first-child {
                border-left: 0;
            }

            &:link,
            &:visited {
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1.4rem;
                color: $color-font;
            }
            &:hover {
                color: $color-blue;
            }
        }
    }

    .product__btns {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .product__count {
        width: 11rem;
    }
    .product__btn {
        padding-left: 2rem;
        width: calc(100% - 11rem);
    }
    .product__quickcart {
        width: 100%;
        line-height: 1;
        padding-top: 2rem;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 0;
            width: auto;
        }

        a {
            &:link,
            &:visited {
                margin-bottom: 1px;
                color: $color-font;
                font-size: 1.4rem;
                border-bottom: 1px solid $color-font;
                transition-property: border-color, color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
            }
            &:hover {
                border-bottom-color: transparent;
                color: $color-green;
            }
        }
    }
    .select__title {
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
}
/*----------*/
.stars {
    display: flex;
    flex-flow: row nowrap;

    &__star {
        margin-right: 0.5rem;
        width: 1.8rem;
        height: 1.8rem;

        &:last-child {
            margin-right: 0;
        }

        &--full {
            background-image: url('../img/stars-full.svg');
        }
        &--half {
            background-image: url('../img/stars-half.svg');
        }
        &--empty {
            background-image: url('../img/stars-empty.svg');
        }
    }
}
/*----------*/
