/*----------*/
.b-filter-wrap {
    @media (min-width: $breakpoint-desktop) {
        height: 6rem;
    }

    .filter-wrap__inner {
        background-color: $color-white;
        position: static;
        transition-property: box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -300rem;
            bottom: 0;
            left: -300rem;
            z-index: -1;
            transition: box-shadow 0.2s ease-in-out;
        }
    }
    .filter-wrap__content {
        margin: auto;
    }

    &.active {
        .filter-wrap__inner {
            padding-left: 2rem;
            padding-right: 2rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 998;

            &::before {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
/*----------*/
.b-filter-fixed {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -150%;
    height: 100%;
    width: 100%;
    z-index: 999;
    transition: left 0.3s ease-in-out;

    @media (min-width: $breakpoint-tablet) {
        max-width: 38rem;
    }
    @media (min-width: $breakpoint-desktop) {
        position: static;
        max-width: 100%;
    }

    &.active {
        left: 0;
    }

    .filter-fixed__title {
        padding: 1rem 2rem;
        font-family: $font-family;
        font-size: 2rem;
        position: relative;
        font-weight: bold;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

        @media (min-width: $breakpoint-desktop) {
            display: none;
        }
    }
    .filter-fixed__content {
        @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
            overflow: auto;
            max-height: calc(100% - 50px);
        }
    }
    .filter-fixed__close {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;

        &:hover {
            opacity: 0.5;
        }

        img {
            vertical-align: middle;
        }
    }
}
.b-filter-fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: $color-black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.active {
        opacity: 0.75;
        pointer-events: all;
    }
}
/*----------*/
.b-filter-desktop {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $color-white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;

    .filter-desktop__title {
        margin: 0 -300rem 3rem;
        padding: 1rem 300rem;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        font-size: 2rem;
    }
    .filter-desktop__close {
        margin-left: auto;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        img {
            vertical-align: middle;
        }
    }

    .filter-desktop__inner {
        margin: auto;
        max-width: 132rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &.active {
        top: 0;
    }
}
/*----------*/
.b-filter-btn {
    cursor: pointer;

    span {
        padding: 0.7rem;
        border-radius: 0.5rem;
        background-color: $color-lightgray2;
        display: inline-block;
        width: 100%;
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center;
        color: $color-font;

        @media (min-width: $breakpoint-tablet) {
            width: calc(50% - 1.5rem);
        }
    }

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }

    img {
        padding-left: 1rem;
    }
}
/*----------*/
.b-filter {
    padding-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 50px);
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
        padding: 0;
        height: auto;
    }

    .filter__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        flex: 1 auto;
        overflow: auto;

        @media (min-width: $breakpoint-desktop) {
            padding-left: 0;
            padding-right: 0;
            overflow: visible;
            display: flex;
            flex-flow: row wrap;
        }
    }
    .filter__collapse {
        padding: 0;
        position: relative;
        margin-bottom: 1.5rem;
        margin-right: 1em;

        @media (min-width: $breakpoint-desktop) {
            padding: 1rem 0;
            margin-bottom: 0;
        }

        &:hover .filter__title {
            &::before {
                @media (min-width: $breakpoint-desktop) {
                    transform: rotate(0deg);
                }
            }
        }
        &:hover .filter__content {
            opacity: 1;
            top: calc(100% + 1rem);
            pointer-events: all;
        }
    }
    .filter__all {
        padding: 0;
        display: none;

        @media (min-width: $breakpoint-desktop) {
            padding: 1rem 0;
            display: block;
        }

        .filter__title {
            padding-right: 2rem;
        }

        img {
            padding-left: 1rem;
        }
    }
    .filter__title {
        cursor: pointer;

        @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
            margin-bottom: 1.5rem;
            position: relative;
            font-family: $font-family;
            font-size: 2rem;
            font-weight: bold;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 1rem 4rem 1rem 2rem;
            background-color: $color-lightgray2;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-font;
            transition: background 0.2s ease-in-out;
        }

        &:focus {
            outline: none;

            &::before {
                outline: none;
            }
        }

        &::before {
            content: '';
            margin-top: -1.2rem;
            display: block;
            position: absolute;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            transition-property: transform, opacity;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
                right: 0;
                background: url('../img/icon-chevron.svg') 50% 50% / contain no-repeat;
                opacity: 0.3;
            }
            @media (min-width: $breakpoint-desktop) {
                right: 1rem;
                background: url('../img/icon-chevron.svg') 50% 50% / contain no-repeat;
                transform: rotate(0deg);
            }
        }

        &:hover {
            @media (min-width: $breakpoint-desktop) {
                background-color: $color-lightgray;
            }
        }
        &:hover::before {
            @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
                transform: rotate(180deg);
            }
            @media (min-width: $breakpoint-desktop) {
                transform: rotate(180deg);
            }
        }

        &.inactive {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    .filter__content {
        background-color: $color-white;
        pointer-events: none;
        transition-property: opacity, top;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
        }
        @media (min-width: $breakpoint-desktop) {
            padding: 2rem;
            position: absolute;
            left: 0;
            z-index: 3;
            width: 26rem;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            opacity: 0;
            top: calc(100% + 3rem);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 3rem;
        }
    }

    .filter__range {
        @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
            padding-bottom: 1.5rem;
        }

        input {
            padding: 0.7rem 1rem;
            border: 1px solid $color-gray2;
            border-radius: 0.5rem;
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            font-size: 1.5rem;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 10%;
        }
    }

    .filter__range-slider {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .filter__items {
        @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
            padding-bottom: 1.5rem;
        }
    }

    .filter__item {
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;

            &:checked ~ .filter__input {
                border-color: $color-blue;
            }
            &:checked ~ .filter__input::before {
                opacity: 1;
            }
        }

        &:hover {
            .filter__input {
                border-color: $color-blue;
            }
        }

        &--radio {
            .filter__input {
                border-radius: 100rem;

                &::before {
                    width: 0.6rem;
                    height: 0.6rem;
                    background: url('../img/circle.svg') 50% 50% no-repeat;
                }
            }
        }
        &--checkbox {
            .filter__input {
                border-radius: 0.5rem;

                &::before {
                    width: 1.1rem;
                    height: 0.8rem;
                    background: url('../img/check.svg') 50% 50% no-repeat;
                }
            }
        }
    }

    .filter__btns {
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row wrap;
        flex: none;
        align-items: center;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

        @media (min-width: $breakpoint-desktop) {
            padding: 0;
            box-shadow: none;
        }

        .filter__reset {
            display: block;
            width: 50%;

            @media (min-width: $breakpoint-desktop) {
                display: none;
            }

            img {
                margin-left: 1rem;
                display: inline-block;
                vertical-align: middle;
                transition: transform 0.2s ease-in-out;
            }
            span {
                display: inline-block;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                color: $color-blue;

                &:hover img {
                    transform: rotate(180deg);
                }
            }
        }

        .filter__submit {
            width: 50%;

            @media (min-width: $breakpoint-desktop) {
                display: none;
            }

            span {
                padding: 1.5rem 2rem;
                border-radius: 0.5rem;
                display: block;
                background: $color-lightgray2;
                opacity: 1;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.5rem;
                color: $color-font;
                transition: opacity 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: $color-lightgray;
                }
            }
        }
    }

    &--desktop {
        .filter__title {
            padding: 0;
            margin: 0 0 1.5rem;
            background: none;
            font-size: 1.6rem;
            font-weight: bold;
            color: $color-font;

            &::before {
                display: none;
            }
        }
        .filter__content {
            padding: 0;
            margin: 0;
            box-shadow: none;
            position: static;
            opacity: 1;
            pointer-events: all;
        }
        .filter__btns {
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-top: 1px solid $color-gray2;
            justify-content: flex-end;

            .filter__reset {
                padding-left: 2rem;
                display: block;
                width: auto;
            }
            .filter__submit {
                padding-left: 2rem;
                display: block;
                width: auto;
            }
        }
    }
}
/*----------*/
.noUi-target {
    border: 0;
    box-shadow: none;
}
.noUi-connect {
    background: $color-blue;
}
.noUi-horizontal {
    height: 4px;
    background-color: $color-gray2;

    .noUi-handle {
        top: -0.8rem;
        right: -1rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid $color-blue;
        cursor: pointer;

        &:before,
        &:after {
            margin-top: -0.4rem;
            width: 0.2rem;
            height: 0.8rem;
            background-color: $color-blue;
            top: 50%;
        }
        &:before {
            left: calc(50% - 0.3rem);
        }
        &:after {
            left: auto;
            right: calc(50% - 0.3rem);
        }
    }
}
/*----------*/
.b-minifilter {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid $color-lightgray;
    margin-bottom: 5rem;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > span {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 3rem;
        margin-right: 1.5rem;
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;
        color: $color-font;
        transition: color 0.2s ease-in-out;

        ins {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 2.4rem;
            height: 2.4rem;
            transition: opacity 0.2s ease-in-out;
            background: url('../img/cross.svg');
        }
    }
    & > span:hover {
        text-decoration: none;

        ins {
            opacity: 0.75;
        }
    }
    .minifilter__reset {
        img {
            margin-left: 1rem;
            display: inline-block;
            vertical-align: middle;
            transition: transform 0.2s ease-in-out;
        }
        span {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: inline-block;
            cursor: pointer;

            &:hover img {
                transform: rotate(180deg);
            }
        }
    }
}
/*----------*/
.topbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__filter {
        flex: 1 auto;
    }
    &__view {
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        a {
            padding-left: 1rem;
            padding-right: 1rem;
            width: 3.4rem;
            height: 3.4rem;
        }

        &-gallery {
            background: url('../img/view-grid.svg') 50% 50% no-repeat;
            
            &:hover,
            &.active {
                background: url('../img/view-grid-active.svg') 50% 50% no-repeat;
            }
        }
        &-list {
            background: url('../img/view-list.svg') 50% 50% no-repeat;
            
            &:hover,
            &.active {
                background: url('../img/view-list-active.svg') 50% 50% no-repeat;
            }
        }
    }
}
